<?xml version="1.0"?>
<!--
/**
 * Livechat Module
 *
 * @category   livechat
 * @package    support_livechat
 * @author     Revathi Ganesh revathi.itbtech@gmail.com
 */
-->
<config>
    <modules>
        <support_livechat>
            <version>0.0.1</version>
        </support_livechat>
    </modules>
    <global>
        <helpers>
            <support_livechat>
                <class>Support_Livechat_Helper</class>
            </support_livechat>
        </helpers>
        <blocks>
            <livechat>
                <class>Support_Livechat_Block</class>
            </livechat>
            <adminhtml>
                <rewrite>
                    <sales_order_status_grid>Support_Livechat_Block_Adminhtml_Sales_Order_Grid</sales_order_status_grid>
                </rewrite>
            </adminhtml>
        </blocks> 
    </global>
    <frontend>
        <routers>
            <livechat>
                <use>standard</use>
                <args>
                    <module>Support_Livechat</module>
                    <frontName>livechat</frontName>
                </args>
            </livechat>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <support_livechat before="Mage_Adminhtml">Support_Livechat_Adminhtml</support_livechat>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>